<?xml version="1.0" encoding="utf-8"?>

<!-- TOP TIER CONFIGURATION LOADED DIRECTLY BY APPLET -->
<moviemasher>
	
	<!-- DEFAULT MASH -->
	<moviemasher config='/libraries/moviemasher/xml/mash.xml' />
	
	<!-- PANEL INTERFACE LAYOUT -->
	<moviemasher config='/libraries/moviemasher/xml/panel.xml' />
	
	<!-- DYNAMIC MEDIA SOURCES --> 
	<moviemasher config='/libraries/moviemasher/xml/source.xml' />
	
	<!-- HANDLERS FOR ALL MEDIA EXCEPT IMAGES -->
	<moviemasher config='/libraries/moviemasher/xml/handler.xml' />

</moviemasher>

